/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  Footer  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$footer-height: 80px;

footer {
	background-color: gray;

	& > .wrap {
		height: $footer-height;

		& > .col {
			color: white;
		}
	}

}