/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  General Settings  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: $bg-color;
}


body {
	color: $text-color;
	font-family: $text-font-family;
	font-size: $text-font-size;
	font-weight: $text-font-weight;
	line-height: $text-line-height;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

	* {
		outline: none;
		box-sizing: border-box;
	}

}

.container {
	max-width: $container-width;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: inherit;
}

h1, .h1-size,
h2, .h2-size,
h3, .h3-size,
h4, .h4-size,
h5, .h5-size,
h6, .h6-size {
	color: $title-color;
	font-family: $title-font-family;
	font-size: $title-font-size;
	font-weight: $title-font-weight;
	line-height: $title-line-height;
}

h2, .h2-size {
    font-size: 2.6em;
}

h3, .h3-size {
    font-size: 2.2em;
}

h4, .h4-size {
    font-size: 1.9em;
}

h5, .h5-size {
    font-size: 1.5em;
}

h6, .h6-size {
    font-size: 1.1em;
}

figure {
	margin: 0;

	& > img {
		max-width: 100%;
	}

}

main {

	section {
		min-height: 500px;
	}

}