/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  Header  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

$header-height: 120px;

header {
	background-color: black;

	& > .wrap {
		height: $header-height;

		& > .col {
			color: white;
		}
	}

}