/*--*--*--*--*--*--*--*--*--*--*-*--*--*--*--*--*--*--*--*

			* -------  Variables  ------- *

-*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*/

// General Colors
$color-primary: black;
$color-secondary: gray;
$bg-color: white;


// Sizes
$container-width: 1234px;
$border-radius: 3px;
$finger-size: 44px;


// General Typography
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Museo', serif;
$font-size: 15px;
$font-size-small: .9em;
$font-size-big: 1.2em;


// Texts
$text-color: black;
$text-font-family: $primary-font-family;
$text-font-size: 15px;
$text-font-weight: normal;
$text-line-height: normal;


// Titles
$title-color: black;
$title-font-family: $secondary-font-family;
$title-font-size: 40px;
$title-font-weight: bold;
$title-line-height: normal;